<div class="d-flex">
  <div class="col-md-6">
    <app-cp-users [people]="users">
      <h1 class="greet" #head>Hello! Welcome.</h1>
      <h1 class="header" #head>Employee List</h1>
      <h1 class="header" #head>Please Check</h1>
      <a href="" id="footer" #foot>see more..</a>
    </app-cp-users>
  </div>
  <div class="col-md-6">
    <app-cp-users [people]="students">
      <h1 class="header" #head>Student List</h1>
      <a href="" id="footer" #foot>explore..</a>
    </app-cp-users>
  </div>
</div>
