<!-- <div class="d-flex">
  <div style="width: 20%; background-color: aquamarine">
    <app-home></app-home>
  </div>
  <div style="width: 80%">
    <app-contact></app-contact>
  </div>
</div> -->
<app-nav-bar></app-nav-bar>
<div class="p-5">
  <!-- <app-observable-examples></app-observable-examples>
  <app-data-consistency></app-data-consistency>
  <app-forms></app-forms>
  <app-content-projection></app-content-projection>
  <app-lifecycle-hooks></app-lifecycle-hooks>
  <app-binding></app-binding>
  <app-directives></app-directives>
  <app-parent></app-parent> -->
  <router-outlet></router-outlet>
</div>
