<h1>One Way Data-Binding</h1>

<p>{{ type1 }}</p>
<p>{{ obj | json }}</p>

<h2>Property Binding</h2>
<img [src]="imgLocation" alt="Girl in a jacket" width="300" height="400" />

<section class="example-section">
  <mat-checkbox class="example-margin" disabled="{{ checked }}"
    >Checked</mat-checkbox
  >
</section>

<h1>Event Binding</h1>

<button mat-button color="primary" (click)="handler('Angular')">
  Click Me
</button>

<h1>Two-way Data-Binding</h1>
<input type="text" [(ngModel)]="name" />

<p>{{ name }} is typing now..</p>
